.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-family: $Geometria;
    font-weight: $fw400;
    font-size: 14px;
    line-height: 1.3;
    background-color: #fff;
    color: $black;
    display: flex;
    flex-direction: column;
    counter-reset: m-counter;
    @include max($lg) {
        line-height: 1.5;
        font-size: 16px;
    }
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    @include max($s) {
        padding: 0 10px;
    }
}



.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
}

.link {
    display: inline-block;
    padding: 20px 33px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: $fw700;
    border: 3px solid $black;
    outline: transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
    &:hover {
        color: $green;
        border-color: $green;
    }
    &:focus {
        color: $accent;
        border-color: $accent;
    }
    &:active {
        color: $grey;
        border-color: $grey;
    }
}

.title {
    font-size: 33px;
    font-family: $NotoSerif;
    line-height: 1.6;
}

.btn {
    cursor: pointer;
    background-color: transparent;
}

.subtitle {
    max-width: 247px;
    width: 100%;
    margin-bottom: 30px;
    @include lineClamp;
    -webkit-line-clamp: 5;
    @include max($md) {
        margin-bottom: 10px;
        max-width: 330px;
    } 
}