
$black: #000;
$accent: #9a9a9a;
$grey: #d7d7d7;
$green: #10cf10;

$xll: 1370;
$xl: 1200;
$lg: 990;
$md: 720;
$sm: 540;
$s: 400;

$Geometria: 'Geometria', sans-serif;
$NotoSerif: 'NotoSerif', sans-serif;

$fw700: 700;
$fw500: 500;
$fw400: 400;
$fw300: 300;



