<section class="about">
    <div class="container">
        <ul class="about__list wow animate__bounceInUp" data-wow-offset="10" data-wow-duration="2s">
            <li class="about__item about__item--furniture">
                Вся мебель в наличии в шоуруме ARTPLAY по адресу ул. Нижняя Сыромятинская, д.10с2
            </li>
            <li class="about__item about__item--time ">
                50 лет минимальный срок эксплуатации или вернем деньги
            </li>
            <li class="about__item about__item--advice">
                Наш специалист бесплатно приедет в любое время и произведет замеры с консултацией
            </li>
        </ul>
        <div class="about__inner">
            <div class="about__photo">
                <img class="about__images" src="images/about-img.jpg" alt="Картинка стола">
            </div>
            <div class="about__info">
                <h2 class="title about__title wow animate__fadeInLeft" data-wow-offset="100" data-wow-duration="2s">Дарим в подарок средство по уходу за слэбом при первом знакомстве!</h2>
                <div class="about__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
            </div>
            <form action="#" class="about__radio">
                <span class="about__subtitle">Ответьте на несколько вопросов</span>
                <span class="about__query">А чем занимаетесь Вы?</span>
                <label class="about__label">
                    <input class="about__input" type="radio" name="radio" checked>
                    <span class="about__checked"></span>
                    Я арт-директор ресторана
                </label>
                <label class="about__label">
                    <input class="about__input" type="radio" name="radio">
                    <span class="about__checked"></span>
                    Я делаю ремонт у себя дома
                </label>
                <label class="about__label">
                    <input class="about__input" type="radio" name="radio">
                    <span class="about__checked"></span>
                    Я работаю в офисе
                </label>
                <button class="link btn about__link" type="submit">Выбрать</button>
            </form>
        </div>
    </div>
</section>