<section class="desing">
    <div class="container">
        <div class="desing__inner">
            <div class="desing__photo desing__photo--left">
                <img class="desing__images" src="images/desing-1.jpg" alt="Интерьер комнаты">
            </div>
            <div class="desing__content">
                <h2 class="title desing__title">Реализуем стол под ваш дизайн проект</h2>
                <div class="desing__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
                <a class="link desing__link" href="#">
                    <p class="desing__link-text">Оставить заявку</p>
                    <svg class="desing__icon" aria-label="Стрелка">
                        <use xlink:href="images/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
            <div class="desing__photo">
                <img class="desing__images" src="images/desing-2.jpg" alt="Интерьер комнаты">
            </div>
        </div>
    </div>
</section>