<section class="details" id="details">
    <div class="container">
        <h2 class="title details__title">Соберите свой индивидуальный стол</h2>
        <ul class="details-table" aria-label="Слайдер с разлиными столами">
            <li class="details-table__item"  aria-label="Прямоугольный стол" style="background-image: url(images/details-slide-1.jpg);"></li>
            <li class="details-table__item" aria-label="Квадратный стол" style="background-image: url(images/details-slide-1.jpg);"></li>
            <li class="details-table__item" aria-label="Крглый стол" style="background-image: url(images/details-slide-1.jpg);"></li>
        </ul>
        <h3 class="details__subtitle">Какой формы должен быть стол?</h3>
        <ul class="details__cards">
            <li class="details__card wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
                <a class="details__link" href="#">
                    <img class="details__images" src="images/details-card-1.jpg" alt="Прямоугольный стол">
                    <div class="details__info">
                        <span class="details__name">Прямоугольным</span>
                        <div class="details__text">
                            <p>
                                Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                            </p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="details__card wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
                <a class="details__link" href="#">
                    <img class="details__images" src="images/details-card-2.jpg" alt="Квадратный стол">
                    <div class="details__info">
                        <span class="details__name">Квадратным</span>
                        <div class="details__text">
                            <p>
                                Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                            </p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="details__card wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
                <a class="details__link" href="#">
                    <img class="details__images" src="images/details-card-3.jpg" alt="Крглый стол">
                    <div class="details__info">     
                        <span class="details__name">Круглым</span>
                        <div class="details__text">
                            <p>
                                Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                            </p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>