<section class="material">
    <div class="container">
        <div class="material__inner">
            <div class="material__photo" style="background-image: url(images/material-1.jpg);" aria-label="Картинка древесины"></div>
            <div class="material__info">
                <h2 class="title material__title">
                    Используемые материалы для производства
                </h2>
                <div class="material__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
            </div>
        </div>

        <ul class="material__filter">
            <li class="material__item">
                <button class="material__btn" type="button" data-filter=".category-a">Древесина</button>
            </li>
            <li class="material__item">
                <button class="material__btn" type="button" data-filter=".category-b">Река</button>
            </li>    
            <li class="material__item">
                <button class="material__btn" type="button" data-filter=".category-c">Подстолье</button>
            </li>
            <li class="material__item">
                <button class="material__btn" type="button" data-filter=".category-d">Покрытие</button>
            </li>
        </ul>
        <ul class="material__holder">
            <li class="material__items mix category-a">
                <img class="material__images" src="images/material-img-1.jpg" alt="Древесина" >
                <div class="material__content">
                    <span class="material__name">Древесина</span>
                    <div class="material__text">
                        <p>
                            Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                        </p>
                    </div>
                </div>
            </li>
            <li class="material__items mix category-b">
                <img class="material__images" src="images/material-img-1.jpg" alt="Древесина" >
                <div class="material__content">
                    <span class="material__name">Древесина</span>
                    <div class="material__text">
                        <p>
                            Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                        </p>
                    </div>
                </div>
            </li>
            <li class="material__items mix category-c">
                <img class="material__images" src="images/material-img-1.jpg" alt="Древесина" >
                <div class="material__content">
                    <span class="material__name">Древесина</span>
                    <div class="material__text">
                        <p>
                            Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                        </p>
                    </div>
                </div>
            </li>
            <li class="material__items mix category-d">
                <img class="material__images" src="images/material-img-1.jpg" alt="Древесина" >
                <div class="material__content">
                    <span class="material__name">Древесина</span>
                    <div class="material__text">
                        <p>
                            Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>