<div class="modal" id="modal">
    <h3 class="modal__title">Оставьте заявку</h3>
    <p class="modal__subtitle">мы свяжемся с Вами в течении 5 минут</p>
    <form action="#" class="modal__form">
        <label class="visually-hidden" for="name">Текстовое поле, введите ваше имя</label>
        <input class="modal__input" type="text" placeholder="Имя" name="Имя" id="name" required>
        <label class="visually-hidden" for="lastname">Текстовое поле, введите вашу фамилию</label>
        <input class="modal__input" type="text" placeholder="Фамилия" name="Фамилия" id="lastname" required>
        <label class="visually-hidden" for="tel">Текстовое поле, введите ваш номер телефона</label>
        <input class="modal__input" type="tel" placeholder="Телефон" name="Телефон" id="tel" required>
        <button class="modal__btn" type="submit">Оставить заявку</button>
    </form>
</div>