<section class="project" id="project">
    <div class="container">
        <div class="project__inner">

            <div class="project__items">
                <h2 class="title project__title">Реализованные проекты для бизнеса и частных клиентов</h2>
                <div class="project__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
                <a class="project__link project__link--moscow" href="#">
                    <div class="project__photo">
                        <img class="project__images" src="images/project-1.jpg" alt="Журнальный стол">
                    </div>
                    <div class="project__info">
                        <span class="project__city">г.Москва, Екатерина</span>
                        <span class="project__table">Журнальный стол</span>
                    </div>
                </a>
                <a class="project__link project__link--rostov" href="#">
                    <div class="project__photo">
                        <img class="project__images" src="images/project-2.jpg" alt="Журнальный стол">
                    </div>
                    <div class="project__info">
                        <span class="project__city">г.Ростов, Екатерина</span>
                        <span class="project__table">Журнальный стол</span>
                    </div>
                </a>
            </div>


            <div class="project__items">
                <a class="project__link project__link--tver" href="#">
                    <div class="project__photo">
                        <img class="project__images" src="images/project-3.jpg" alt="Журнальный стол">
                    </div>
                    <div class="project__info">
                        <span class="project__city">г.Тверь, Екатерина</span>
                        <span class="project__table">Журнальный стол</span>
                    </div>
                </a>
                <a class="project__link project__link--smolensk" href="#">
                    <div class="project__photo">
                        <img class="project__images" src="images/project-4.jpg" alt="Журнальный стол">
                    </div>
                    <div class="project__info">
                        <span class="project__city">г.Смоленск, Екатерина</span>
                        <span class="project__table">Журнальный стол</span>
                    </div>
                </a>
                <a class="project__link project__link--kirov" href="#">
                    <div class="project__photo">
                        <img class="project__images" src="images/project-5.jpg" alt="Журнальный стол">
                    </div>
                    <div class="project__info">
                        <span class="project__city">г.Киров, Екатерина</span>
                        <span class="project__table">Журнальный стол</span>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>