<section class="work">
    <div class="container">
        <h2 class="title work__title">Как мы работаем</h2>
        <ul class="work__list">
            <li class="work__item wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
                <span class="work__name">Расчет изделия</span>
                <div class="work__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
            </li>
            <li class="work__item wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
                <span class="work__name">Расчет изделия</span>
                <div class="work__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
            </li>
            <li class="work__item wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
                <span class="work__name">Расчет изделия</span>
                <div class="work__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
            </li>
            <li class="work__item wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
                <span class="work__name">Расчет изделия</span>
                <div class="work__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
            </li>
            <li class="work__item wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
                <span class="work__name">Расчет изделия</span>
                <div class="work__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
            </li>
            <li class="work__item wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
                <span class="work__name">Расчет изделия</span>
                <div class="work__text">
                    <p>
                        Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>