.production {
    margin-bottom: 50px;
    &__subtitle {
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
        color: #a3a3a3;
        @include max($md) {
            margin-bottom: 0;
        }
    }
    &__title {
        position: relative;
        max-width: 550px;
        width: 100%;
        margin: 0 auto 70px;
        text-align: center;
        &::after {
            position: absolute;
            content: '';
            @include bg;
            background-image: url(../images/production-decor.png);
            width: 350px;
            height: 145px;
            bottom: -56px;
            right: -82px;
            z-index: -1;
            @include max($lg) {
                right: -50px;
            }
            @include max($md) {
                display: none;
            }
        }
        @include max($md) {
            font-size: 25px;
            margin-bottom: 15px;
        }
        @include max($sm) {
            font-size: 21px;
        }
    }
    &__slider {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 825px;
        width: 100%;
        height: 315px;
        @include max($lg) {
            padding: 0 20px;
        }
        @include max($md) {
            height: 260px;
        }
        @include max($sm) {
            height: 220px;
        }
        @include max($s) {
            padding: 0;
        }
    }
    &__holder {
        display: block;
        width: 825px;
        height: 315px;
        @include bg;
        @include max($md) {
            height: 260px;
        }
        @include max($sm) {
            height: 220px;
        }
    }
    &__next {
        right: -35px;
        @include max($xl) {
            right: -25px;
        }
        @include max($lg) {
            right: -5px;
        }
    }
    &__prev {
        left: -35px;
        @include max($xl) {
            left: -25px;
        }
        @include max($lg) {
            left: -5px;
        }
    }
    &__next,
    &__prev {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);

    }
}