<header class="header">
    <div class="container">
        <div class="header__top">
            <button class="header__btn btn-reset" type="button" aria-label="Выпадающее меню">
                <span class="header__btn-item"></span>
                <span class="header__btn-item"></span>
                <span class="header__btn-item"></span>
            </button>
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="#">Новочебоксарск</a>
                    <span class="header__description">Наш город</span>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#">Шоурум Artplay</a>
                    <span class="header__description">Нижняя Сыромятническая, 10с2</span>
                </li>
                <li class="header__item">
                    <a class="header__link" href="tel:+74950231301">+7 495 023 13 01</a>
                    <span class="header__description">Ежедневно 10:00 - 22:00</span>
                </li>
            </ul>
            <a class="header__link-icon" href="#">
                <svg class="header__icon" aria-label="Поиск по странице">
                    <use xlink:href="images/sprite.svg#search"></use>
                </svg>
            </a>
            <a class="header__link-icon" href="#">
                <svg class="header__icon" aria-label="Регистрация на странице">
                    <use xlink:href="images/sprite.svg#user"></use>
                </svg>
            </a>
            <a class="header__tel link" data-fancybox href="#modal">
                обратный звонок
            </a>    
        </div>
        <div class="header__bottom">
            <a class="logo" href="#">
                <img class="logo__images" src="images/logo.svg" alt="Логотип">
            </a>
            <ul class="header__navigation">
                <li class="header__navigation__item">
                    <a class="header__navigation-link" href="#catalog">Каталог наличия</a>
                </li>
                <li class="header__navigation__item">
                    <a class="header__navigation-link" href="#project">Информация</a>
                </li>
                <li class="header__navigation__item">
                    <a class="header__navigation-link" href="#details">Мебель на заказ</a>
                </li>
            </ul>
            <div class="basket">
                <a class="basket__link" href="#">
                    <svg class="header__icon basket__icon" aria-label="Корзина товаров">
                        <use xlink:href="images/sprite.svg#corb"></use>
                    </svg>
                    <span class="basket__number" aria-label="Количество товаров в корзине">1</span>
                </a>
                <span class="basket__corb">Корзина</span>
            </div>
        </div>
    </div>
</header>