<section class="home-page" >
    <div class="container">
        <div class="home-page__inner" style="background-image: url(images/home-page-bg.png);">
            <h1 class="home-page__title wow animate__backInLeft" data-wow-duration="1s" data-wow-delay="1s">
                Авторская мебель
                <span class="home-page__description">
                    из слэбов редких пород древесины
                </span>
            </h1>
            <div class="home-page__text">
                <p>
                    Подоберите все необходимое для оформления завершенного,гармоничного, стильного и уютного интерьера своей квартирыили дома в одном месте.
                </p>
            </div>
            <div class="popup">
                <a class="popup__link" data-fancybox href="https://www.youtube.com/watch?v=ZVz_XUoMXg8" style="background-image: url(images/popup.jpg);">
                    <button class="popup__btn btn-reset" type="button">
                        <svg class="popup__icon" aria-label="Запуск видео">
                            <use xlink:href="images/sprite.svg#play"></use>
                        </svg>
                    </button>
                </a>
                <p class="popup__text">
                    Посмотрите на производство WOODCRAFTSTUDIO
                </p>
            </div>
        </div>
    </div>
</section>