<section class="production">
    <div class="container">
        <span class="production__subtitle">О нашем производстве</span>
        <h2 class="title production__title wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
            Производство эксклюзивной мебели из редких пород дерева
        </h2>
        <ul class="production__slider">
            <li class="production__slide">
                <div class="production__holder" aria-label="Картинка производство столов" style="background-image: url(images/production-1.jpg);"></div>
            </li>
            <li class="production__slide">
                <div class="production__holder" aria-label="Картинка производство столов" style="background-image: url(images/production-1.jpg);"></div>
            </li>
            <li class="production__slide">
                <div class="production__holder" aria-label="Картинка производство столов" style="background-image: url(images/production-1.jpg);"></div>
            </li>
            <li class="production__slide">
                <div class="production__holder" aria-label="Картинка производство столов" style="background-image: url(images/production-1.jpg);"></div>
            </li>
        </ul>
    </div>
</section>