<section class="skills" id="catalog">
    <div class="container">
        <span class="skills__subtitle">Лучшие в своём деле</span>
        <h2 class="title skills__title wow animate__fadeInUp" data-wow-offset="10" data-wow-duration="2s">
            Что позволило нам за 5 лет стать производителем №1 в мире эксклюзивной мебели из редких пород дерева?
        </h2>
        <div class="skills__inner">

            <div class="skills__items">
                <div class="skills__photo skills__photo--certificate">
                    <img class="skills__images" src="images/skills-1.jpg" alt="Сертификат">
                </div>
                <div class="skills__info">
                    <h3 class="subtitle">
                        Полностью сертифицированная продукция
                    </h3>
                    <div class="skills__text">
                        <p>
                            Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                        </p>
                    </div>
                </div>
            </div>

            <div class="skills__items">
                <div class="skills__info skills__info--price">
                    <h3 class="subtitle">
                        Конкурентные цены при высоком качестве и широком ассортименте
                    </h3>
                    <div class="skills__text skills__text--price">
                        <p>
                            Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                        </p>
                    </div>
                    <a class="link skills__link" href="#">Каталог</a>
                </div>
                <div class="skills__photo skills__photo--price">
                    <img class="skills__images" src="images/skills-2.jpg" alt="Стол">
                </div>
            </div>


            <div class="skills__items skills__items--time">
                <div class="skills__photo skills__photo--time">
                    <img class="skills__images" src="images/skills-3.jpg" alt="Стол">
                </div>
                <div class="skills__info skills__info--time">
                    <h3 class="subtitle">
                        Изготавливаем мебель любой сложности в течение указанного срока в договоре
                    </h3>
                    <div class="skills__text">
                        <p>
                            Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                        </p>
                    </div>
                </div>
            </div>

            <div class="skills__items">
                <div class="skills__info skills__info--control">
                    <h3 class="subtitle">
                        Постоянный контроль этапов работ перед заказчиком
                    </h3>
                    <div class="skills__text">
                        <p>
                            Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                        </p>
                    </div>
                </div>
                <div class="skills__photo skills__photo--control">
                    <img class="skills__images" src="images/skills-4.jpg" alt="Материал для изготавления стола">
                </div>
            </div>

            <div class="skills__items">
                <div class="skills__photo skills__photo--feedback">
                    <img class="skills__images" src="images/skills-5.jpg" alt="Обработка стола">
                </div>
                <div class="skills__info">
                    <h3 class="subtitle">
                        Первоклассные специалисты готовы ответить на любые ваши вопросы
                    </h3>
                    <div class="skills__text">
                        <p>
                            Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>