<section class="team">
    <div class="container">
        <h2 class="title team__title wow animate__fadeInLeft" data-wow-offset="10" data-wow-duration="2s">Команда настоящих профессионалов</h2>
        <ul class="team__slider">
            <li class="team__slide">
                <div class="team__inner">
                    <img class="team__images" src="images/team-1.jpg" alt="Фотография Андрея">
                    <div class="team__content">
                        <span class="team__name">Андрей Иванов</span>
                        <div class="team__text">
                            <p>
                                Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="team__slide">
                <div class="team__inner">
                    <img class="team__images" src="images/team-1.jpg" alt="Фотография Андрея">
                    <div class="team__content">
                        <span class="team__name">Андрей Иванов</span>
                        <div class="team__text">
                            <p>
                                Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="team__slide">
                <div class="team__inner">
                    <img class="team__images" src="images/team-1.jpg" alt="Фотография Андрея">
                    <div class="team__content">
                        <span class="team__name">Андрей Иванов</span>
                        <div class="team__text">
                            <p>
                                Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="team__slide">
                <div class="team__inner">
                    <img class="team__images" src="images/team-1.jpg" alt="Фотография Андрея">
                    <div class="team__content">
                        <span class="team__name">Андрей Иванов</span>
                        <div class="team__text">
                            <p>
                                Подоберите все необходимое для оформления завершенного, гармоничного, стильного и уютного интерьера своей квартиры или дома в одном месте.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>